.invoice {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 20px;
  .invoice-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: green;
  }
  border-bottom: 1px solid #000;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 200px;
  height: 50px;
  .button-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  button {
    width: 100%;
    height: 100%;
    background-color: black;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
  #hidden-file-uploader {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
  }
}
.errors-wrapper {
  position: fixed;
  left: 10px;
  top: 10px;
  .error-message {
    width: 300px;
    background-color: #000000a5;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    .text {
      margin-bottom: 10px;
      display: block;
    }
    margin-bottom: 30px;
  }
}
